*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
font-family: 'Open Sans', sans-serif;
font-size: small;
}

header{
    width: 100%;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
}

.nav-header{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    z-index: 999;
    background-color: #ffff;
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 100%;
}

header ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 100%;
    text-decoration: none;
    align-items: center;
}

header li{
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
}

header li:hover{
    border-bottom: 2px solid black;
}


nav li a {
    text-decoration: none;
    color: black;
    padding: 0px 20px;
   
}


.btn {
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.btn-blue{
    background-color: #1E74FF;
    color: white;
}


.jumbotron{
    background-color: #B4D0E7;
    width: 100%;
    height: 545px;
    position: relative;
}

.jumbo-title{
   font-size: x-large;   
}

.jumbo-description{
    height: 20%;
    width: 30%;
    font-size: larger;
    padding: 10px 0px ;
    
}

#annulla{
    margin-top: 40px;
}

.jumbotron-container{
    margin-left: 20%;
    padding-top: 80px;
}

.jumboimg{
    height: 60%;
    width: 40%;
    position: absolute;
    top: 45%;
    right: 15%;
}



/*inizio main*/

.firts-container{
    max-width: 700px;
    height: 1100px;
    margin:auto; 
}

.first-title{
    width: 600px;
    font-size: x-large;
}

.checkbox{
    display: flex;
   
}

.check-text{
    margin-top: 50px;
    padding-left: 10px;
}

.checkone, .checktwo{
    display: flex;
   
}

.firstcheck{
    height: 20px ;
    width: 20px;
    border: 5px #1E74FF solid;
    border-radius: 50%;
    margin-top: 50px;
}

.secondcheck{
    height: 20px ;
    width: 20px;
    border: 2px #DADADD solid;
    border-radius: 50%;
    margin-top: 50px;
    padding-left: 20px;
}

.checktwo{
    margin-left: 10px;
}

.first-containertwo{
    display: flex;
    margin-top: 20px;
    text-align: center;
}

.first-container-box hr{
    border-top: 1px solid #D0D0D3 ;
}
.first-container-box{
    width: calc(100% / 3);
    height: 600px;
    margin-right: 20px;
    border: 1px solid #D0D0D3; 
}

.xxx{
    width: 60px;
    margin: 0px 15px;
}

.bluecheck{
    color: #1E74FF;
    font-size: larger;
}

.red {
    
    text-align: left;
    margin: 20px 0px;
    padding: 0px 15px;
}
.green {
    max-width: calc(100% / 3);
    text-align: left;
}

.green.left{
    position: absolute;
    top: 30px;
    left: 50px;
}

.green.right{
    position: absolute;
    top: 50px;
    right: 50px;
}

.first-container-box1, .first-container-box2,.first-container-box3 {
    width: calc(100% / 3);
    height: 30px;
    margin:auto;
    border: 1px solid #D0D0D3; 
}

.first-container-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    height: 200px;
    width: 680px;
    margin-top: 20px;
    margin-bottom: 0%;
    text-align: center;
    border: 1px solid #D0D0D3; 
}

.row-border{
    width: 100%;
    height: 20px;
    border-bottom: 1px solid #D0D0D3;
}

.second-container{
    display: flex;
    height: 300px;
    max-width: 700px;
    margin:auto;
    margin-top: 40px;
}

.second-container img {
    height: 100%;
    width: 100% ;
}

.second-container  h2{
    padding-top: 30px;
    padding-left:30px;
}

.second-container p {
    padding-top: 30px;
    padding-left:30px;
}

.imgbox, .partner-box{
    height: 100%;
    width: calc(100% / 2);
}

.third-container{
    max-width: 700px;
    height: 900px;
    margin:auto;
    margin-top: 80px;
}

.third-container h1{
margin-bottom: 80px;
}

.boxes-container{
    display: flex;
    flex-wrap: wrap;
}
.box-third-container{
    height: 412px;
    width: calc(100% / 3);
    padding: 0px 15px;
}

.toolsimg, .text-tools{
    height: 50%px;
    width: 100%;
    padding-top: 5px;
}

.brand-img{
    height: 100%;
    width: 100%;
}

.marketing{
    height: 300px;
    max-width: 700px;
    margin: auto;
    position: relative;
}
#team{
    padding-top: 80px;
}

#scopri{
    position: absolute;
    top: 70%;
}

.fourth-container{
    display: flex;
    height: calc(100vw /3);
    margin:auto;
}

.brand-left, .brand-right, .brand-desc{
    height: calc(100vw /3);
    width: calc(100% / 3);
}

.brand-left, .brand-right{
    display: flex;
    flex-wrap: wrap;
}

.brand-box{
    width: 50%;
    height: 50%;
}

.brand-desc{
    background-color: #F5F5F5;
}
.brand-desc p{
    padding: 30px 20px;
}

.brand-box img{
    padding: 50px 50px;
/*come mettere scritta bianca?*/
}
.designit{
    background-color: #A2D39B;
}
 .asu{
     background-color: #61082B;
 }

 .florida{
    background-color: #0093CE;
 }

 .topp{
     background-color: #FF1C1C;
 }

 .bicycle{
     background-color: #D5001F;
 }
 .hearst{
     background-color: #B4D0E7;
 }

 .lonely{
    background-color: #0D2481;
 }

 .clear{
    background-color: #FFD830;
 }

 .brand-desc{
    scroll-behavior: smooth;
 }
 
 #designid{
    height: 70px;
    margin: 20px 20px;
 }

.fifth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #B4D0E7;
}

.porta h1{
    color: #61082B;
    font-size: xx-large;
}

.porta-button{
    height: 50px;
    padding-top: 20px;
    margin-left: 100px; 
}

.sixth-container{
    max-width: 700px;
    height: 350px;
    margin: auto;
    text-align: center;   
}

.sixth-container-box{
    display: flex;
    position: relative;
    padding: 20px;
    justify-content: space-around; 
}

#hover-arrow{
    position: absolute;
    top: 10px;
    visibility: hidden;
    font-size:x-large
}


.answer{
    width: 100%;
    height: 40%;
    
    position: absolute;
    bottom:0
}

#title-questions{
    text-align: left;
    padding-top: 50px;
    padding-bottom: 30px;
}

/*qui inizia footer*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: black;
    color: white; 
}

.footer-column{
    padding: 30px; 
    border-bottom: 2px solid black;
}

.footer-column:hover{
border-bottom: 2px solid white;
}


li{
    list-style: none;
}


/*effetti hover*/


button:hover{
    cursor: pointer;
}

.hover-h:hover{
    border-bottom: 2px solid black;
    cursor: pointer;
}

header .logo:hover{
opacity: 40%;
cursor: pointer;
}
