*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
font-family: 'Open Sans', sans-serif;
font-size: small;
}

header{
    max-width: 100%;
    height: 600px;
}
.top-header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    max-width: 100%;
    height: 50px;
    z-index: 999;
    background-color: #ffff;
}
.container-left, .container-right{
    display: flex;
    height: 100%;
    width: 500px;
    text-align: center;
    padding: 10px 0px;
}
.logo, .button-top-header{
    height: 100%;
    width: 30%;
}

button{
    background-color: #1E74FF;
    border: none;
    color: #ffff;
    padding: 5px;
}

a {
    color:#1E74FF;
}
.nav-left{
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 100%;
    ;
}
.header-button{
    height: 100%;
}

.two {
    padding-left: 0;
    padding-top: 15px;
}

.jumbotron{
    background-color: #B4D0E7;
    width: 100%;
    height: 545px;
    position: relative;
}

.jumbo-title{
   font-size: x-large;   
}

.jumbo-description{
    height: 20%;
    width: 30%;
    font-size: larger;
    padding: 10px 0px ;
    
}

#annulla{
    margin-top: 40px;
}

.jumbotron-container{
    margin-left: 20%;
    padding-top: 80px;
}

.jumboimg{
    height: 60%;
    width: 40%;
    position: absolute;
    top: 45%;
    right: 15%;
}

.jumbo-arrow-link{

}

/*inizio main*/

.firts-container{
    max-width: 700px;
    height: 1100px;
    margin:auto;
    
}

.first-title{
    width: 600px;
    font-size: x-large;
}

.checkbox{
    display: flex;
   
}

.check-text{
    margin-top: 50px;
    padding-left: 10px;
}

.checkone, .checktwo{
    display: flex;
   
}

.firstcheck{
    height: 20px ;
    width: 20px;
    border: 5px #1E74FF solid;
    border-radius: 50%;
    margin-top: 50px;
}

.secondcheck{
    height: 20px ;
    width: 20px;
    border: 2px #DADADD solid;
    border-radius: 50%;
    margin-top: 50px;
    padding-left: 20px;
}

.checktwo{
    margin-left: 10px;
}

.first-containertwo{
    display: flex;
    margin-top: 20px;
    text-align: center;
}

.first-container-box hr{
    border-top: 1px solid #D0D0D3 ;
}
.first-container-box{
    width: calc(100% / 3);
    height: 600px;
    margin-right: 20px;
    border: 1px solid #D0D0D3; 
}

.xxx{
    width: 60px;
    margin: 0px 15px;
}

.bluecheck{
    color: #1E74FF;
    font-size: larger;
}

.red {
    
    text-align: left;
    margin: 20px 0px;
    padding: 0px 15px;
}






.first-container-box1, .first-container-box2,.first-container-box3 {
    width: calc(100% / 3);
    height: 30px;
    margin:auto;
    border: 1px solid #D0D0D3; 
}

.first-container-row{
    height: 200px;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 0%;
    text-align: center;
    border: 1px solid red; 
}

.second-container{
    display: flex;
    height: 300px;
    max-width: 700px;
    margin:auto;
    border: 1px solid red; 
}

.imgbox, .partner-box{
    height: 100%;
    width: calc(100% / 2);
    border: 1px solid red; 
}

.third-container{
    max-width: 700px;
    height: 900px;
    margin:auto;
    border: 1px solid red;
}

.third-title{
    border: 1px solid red;
}

.boxes-container{
    display: flex;
    flex-wrap: wrap;
}
.box-third-container{
    height: 412px;
    width: calc(100% / 3);
    border: 1px solid red;
}

.toolsimg{
    height: 50%px;
    width: 100%;
}

.text-tools{
    height: 50%px;
    width: 100%;
    border: 1px solid red;
}

.marketing{
    height: 300px;
    max-width: 700px;
    margin: auto;
    position: relative;
    border: 1px solid red;
    
}
#team{
    padding-top: 80px;
    border: 1px solid red;
}

#scopri{
    position: absolute;
    top: 70%;
    border: 1px solid red;
}

.fourth-container{
    display: flex;
    height: calc(100vw /3);
    margin:auto;
    border: 1px solid red;
}

.brand-left, .brand-right, .brand-desc{
    height: calc(100vw /3);
    width: calc(100% / 3);
    border: 1px solid red;
}

.brand-left, .brand-right{
    display: flex;
    flex-wrap: wrap;
}

.brand-box{
    width: 50%;
    height: 50%;
    border: 1px dashed red;
}

.fifth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #B4D0E7;
    border: 1px solid red;
}

.porta h1{

    color: #61082B;
    font-size: xx-large;
    border: 1px solid red;
}

.porta-button{
    height: 50px;
    padding-top: 20px;
    margin-left: 100px;
    border: 1px solid red;  
}

.sixth-container{
    max-width: 700px;
    height: 350px;
    margin: auto;
    text-align: center;
    border: 1px solid red;   
}

.sixth-container-box{
    display: flex;
    padding: 20px;
    justify-content: space-around;
   
}

#title-questions{
    text-align: left;
    padding-top: 50px;
    padding-bottom: 30px;
}

/*qui inizia footer*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: black;
    color: white;
    border: 1px solid red;  
}

.footer-column{
    padding: 30px; 
}

.footer-column:hover{
border-bottom: 2px solid white;
}


li{
    list-style: none;
}
